PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=food_delivery
DB_CONNECTION_LIMIT=10
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=food-delivery-app
KAFKA_ORDER_CREATED_TOPIC=orders.events.created
KAFKA_NOTIFICATION_GROUP_ID=notification-service
KAFKA_DELIVERY_GROUP_ID=delivery-service
KAFKA_CONSUMERS_ENABLED=true
